[Unit]
Description = Music Player Daemon

[Service]
ExecStart = /usr/bin/mpd --no-daemon ~/.mpdconf
Restart = always

[Install]
WantedBy = default.target
