[user]
    email = scarpino@kde.org
    name = Andrea Scarpino
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.googlemail.com
    smtpuser = bash.lnx@gmail.com
    smtpserverport = 587
[color]
	ui = auto
#[commit]
#    template = /home/andrea/.commit-template
[core]
    excludesfile = /home/andrea/.gitexcludes
[merge]
    tool = vimdiff
[push]
    default = nothing

[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:
[url "ssh://gitolite@arch02.di.uniba.it/"]
    InsteadOf = uniba:

[github]
    user = scarpin0
[reviewboard]
    url = https://git.reviewboard.kde.org
[alias]
    post-review = !post-review --guess-summary --guess-description --username=scarpino --parent=master --tracking-branch=origin/master
