window {
  background-color: #181818;
  border: 1px;
  padding: 5px;
}

#input {
  color: #fff;
  background-color: #585858;
}

#inner-box {
background-color: #282828;
}

#outer-box {
  background-color: #383838;
  color: #d8d8d8;
}

#text {
  color: #d8d8d8;
}
